<div class="booting">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-100px" class="logo">
            
            <img src="../../assets/icons/ram-os.svg" alt="">
    
            <div>Ram-OS</div>
    
        </div>
    
        <mat-progress-spinner
                class="spinner"
                [color]="color"
                mode="determinate"
                [value]="value">
        </mat-progress-spinner>

    </div>


</div>